body{
    font-family: 'Lato', 'Arial', 'sans-serif';
}

img {
    max-width: 100%;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: $color_primary;
}

header{
    background-color: $color_primary;
    margin-top: 150px;
}

section {
    padding: 10px;
}

.head {
    @media screen and (min-width:800px) {
        display: flex;
        justify-content:space-around;
    }
}

.head__logo{
    max-width: 100%;
    }

.head__infos{
    margin-top: 90px;
    color: white;
    text-align: center;

    &--nom{
        font-size: 3rem;
        color: white;
    }

    &--dev{
        font-family: 'Signika', 'Arial', 'sans-serif';
        font-weight: 300;
        font-size: 1.75rem;
        color: white;
        padding-bottom: 10px;

    }
}


/*********************/
/****** Nav *******/
/*********************/
nav{
    height: 80px;

    .navbar {
        padding: 0;
    }


    .navbar__logo{
        height: 60px;
        width: 60px;
    }

    .navbar__icon{
        height: 50px;
        width: 50px;
    }

    .navbar__item{
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight:200;
        text-align: right;
        margin: 0 20px;
         
    }

}


// /*********************/
// /**** Présentation ***/
// /*********************/


.presentation{
    
    color: $color_primary;
    font-size: 1rem;

    .presentation__img{
        margin: 0 240px;
    }
    
    .presentation__infos{
        margin-top: 50px;

        &--titre{
            @media screen and (min-width:800px) {
                font-size: 3em;
            }
            margin-left: 20px;
            font-size: 1.5rem;

        }
    }


    .presentation__infos__list{
        padding: 0 10px;
        @media screen and (min-width:800px) {
            font-size: 1.2em;
        }
        &--arg{
            
            list-style-type: none;
            display: flex;
            margin: 25px 0;

            &:before {
                display: block;
                content: ' ';
                background-image: url(../img/puce.svg);
                background-size: 28px 28px;
                height: 28px;
                width: 28px;
                margin-right: 8px;
                padding-right: 28px;
            }
        }
    }
}



/*********************/
/**** Compétences ****/
/*********************/

.competences{
    background-color: $color_primary;
    margin-top: 40px;
    color: white;

    &--title{
        @media screen and (min-width:800px) {
            font-size: 4em;
        }
        text-align: center;
        padding: 60px;
        font-size: 2rem;
    }

    .competences__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 50px;
    
        .logogit{
            align-self: center;
        }

        &--logo{
            width: 30%;
            
            img {
                max-width: 100px;
                display: block;
                margin: 0 auto;
            }
        }

    }

}



/*********************/
/**** Projects ****/
/*********************/
.projects{

    &--title{
        @media screen and (min-width:800px) {
            font-size: 4em;
        }
        text-align: center;
        margin: 20px 0;
        font-size: 2rem;
    }

    &--container{
        margin: 0 auto;

        .carousel{
            @media screen and (min-width:800px) {
                width: 75%;
                margin: 50px auto;
                
            }
            margin-bottom: 100px;
        }
    }
}





/*********************/
/**** Parcours ****/
/*********************/
.career{
    background-color: $color_primary;
    color: white;
    padding: 10px;

    &--title{
        @media screen and (min-width:800px) {
            font-size: 4em;
        }
        text-align: center;
        padding-top: 30px;
        font-size: 2rem;
        margin-bottom:20px;
        color:white;
    }

    .career__description__container{
        @media screen and (min-width:800px) {
            margin: 0 auto;
            width: 15%;
            margin-bottom: 30px;
        }

        border-left: 2px white solid;
        padding-left: 20px;
        margin-bottom: 20px;


        &--date{
            @media screen and (min-width:800px) {
                font-size: 1.6rem;
            }
            font-size: 1.3rem;
        }

        &--item{
            @media screen and (min-width:800px) {
                font-size: 1.5rem;
            }
            color: $color_secondary;
            font-size: 1.2rem;
        }

        &--loca{
            @media screen and (min-width:800px) {
                font-size: 1.1rem;
            }
            font-weight: 200;

        }

        &--desc{
            @media screen and (min-width:800px) {
                font-size: 1rem;
            }
            font-weight: 200;
        }
    }
}


/*********************/
/**** Contact ****/
/*********************/
.contact{

    &--title{
        @media screen and (min-width:800px) {
            font-size: 4em;
        }
        text-align: center;
        padding-top: 70px;
        font-size: 2rem;
        margin-bottom: 70px;
    }

    form {
        @media screen and (min-width:800px) {
            width: 75%;
            margin: 0 auto;
        }
        font-size: 1.25rem;

        .firstname{
            input{
                height: 75px;
                font-size: 0.8em;
            }
        }
        .name{

            input{
                height: 75px;

                font-size: 0.8em;
            }
        }

        .email{
            input{
                height: 75px;
                font-size: 0.8em;
            }
        }

        .message{
            margin-top: 30px;

            textarea{
                height: 280px;
                font-size: 0.8em;
            }
        }

        button{
            background-color: $color_primary;
            width: 120px;
            height: 60px;
            font-size: 0.8em;
            margin: 20px;
            border-color: $color_primary;
            display: block;          
        }

        button:active, button:visited, button:hover, .btn-primary{
           background-color: $color_secondary !important;
        }
    }
}


/*********************/
/**** Footer ****/
/*********************/
footer{
    background-color: $color_primary;
    padding-bottom: 20px;
    .footer__content{
        width: 50%;
        margin: auto;
        padding-top: 40px;
        text-align: center;

        &--github{
            @media screen and (min-width:800px) {
                width: 8%;
            }
            width: 20%;
        }

        &--linkedin{
            @media screen and (min-width:800px) {
                width: 8%;
            }
            width: 20%;
            margin-left: 40px;
        }
    }

    .footer__copyright{

        color: white;
        text-align: center;
        margin-top: 20px;
    }

    
}

