/*********************/
/***** Général *******/
/*********************/

body{
    border-collapse: collapse;
    font-family: 'Lato', 'Arial', 'sans-serif';
}

/*********************/
/****** Header *******/
/*********************/
header{
    background-color: #1C1F2A;
    height: 1200px;
    margin-top: 150px;
}

header img{
    width: 50%;
    margin-top: 100px;
    margin-left: 240px;
}

.infos{
    margin-top: 200px;
    color: white;
    text-align: center;
}

h1{
    font-size: 8em;
}

h2{
    font-family: 'Signika', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 3.5em;
}

/*********************/
/****** Nav *******/
/*********************/
nav{
    height: 150px;
}

nav img{
    height: 100px;
    width: 100px;
}
.navbar-toggler-icon{
    height: 80px;
    width: 80px;
}

.nav-item{
    height: 120px;
    font-size: 4.3em;
    text-transform: uppercase;
    text-align: right;
    margin: 0 20px;
    border-bottom: #00B2A9 2px solid;
}

.navbar-nav{
    width: 75%;
    height: 600px;
}

/*********************/
/**** Présentation ***/
/*********************/
.presentation{
    margin-top: 100px;
    text-align: center;
    color: #1C1F2A;
    font-size: 2.5em;

}

.presentation__infos{
    margin-top: 50px;
    text-align: left;
    padding-left: 50px;
}

.presentation__infos li{
    list-style-type: none;
    background-image: url(/img/1x/puce.jpg);
    background-repeat: no-repeat;
    background-position-y: 15px;
    padding-left: 50px;
}


/*********************/
/**** Compétences ****/
/*********************/

.competences{
    background-color: #1C1F2A;
    height: 1000px;
    margin-top: 50px;
    color: white;
}